.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.wrapper-component1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  padding: 1rem;
  background-color: white;
  transform: translateY(-50%) translateX(-50%);
}

.backdrop.hidden {
  display: none;
}
